<div class="instructions" id="header">
    <div class="container">
        <h1 class="lead">Chef Cost</h1>
        <div class="row">
            <ul>
                <li><a href="#/user">Home</a></li>
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/addProduct">Add Product</a></li>
                <li><a href="#/addRecipe">Add Recipe</a></li>
                <li><a href="#/technology">Technology</a></li>
            </ul>
        </div>
    </div>
</div>