<div class="container">
    <h3>Add Products</h3>
    <div ng-controller="ProductController as pc">
        <form>
            <input type="text" placeholder="Product" name="product" ng-model="pc.newProduct.product">
            <input type="text" placeholder="Product Number" name="productNumber" ng-model="pc.newProduct.productNumber"><br>
            <input type="number" placeholder="Price" name="price" ng-model="pc.newProduct.price">
            <input type="text" placeholder="Vendor" name="vendor" ng-model="pc.newProduct.vendor"><br>
            <input type="number" placeholder="Case Size" name="caseSize" ng-model="pc.newProduct.caseSize"><br>
            <div class="dropdown col-md-3 col-sm-3">
                <div class="form-group">
                    <label for="caseMeasurement">Case measurement</label>
                    <select name="caseMeasurement" id="caseMeasurement" class="form-control" ng-model="pc.newProduct.unitMeasure">
                     <option id="pound" ng-model="pc.newProduct.unitMeasure">Pound</option>
                     <option id="each" ng-model="pc.newProduct.unitMeasure">Ea</option>
                     <option id="gallon" ng-model="pc.newProduct.unitMeasure">Gallon</option>
                     <option id="quart" ng-model="pc.newProduct.unitMeasure">Quart</option>
                     <option id="pint" ng-model="pc.newProduct.unitMeasure">Pint</option>
                     <option id="cup" ng-model="pc.newProduct.unitMeasure">Cup</option>                     
                     <option id="ounce" ng-model="pc.newProduct.unitMeasure">Ounce</option>
                     <option id="liter" ng-model="pc.newProduct.unitMeasure">Liter</option>
                     <option id="ml" ng-model="pc.newProduct.unitMeasure">ml</option>
                     <option id="gram" ng-model="pc.newProduct.unitMeasure">Gram</option>
                </select>
                </div>
            </div>
            <button class="btn button-default" ng-click="pc.addProduct()">Submit</button>
        </form>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <div>
                            <th><input type="text" ng-model="searchBox" placeholder="Search"></th>
                        </div>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <th>Product #</th>
                        <th>Vendor</th>
                        <th>Price</th>
                        <th>Units</th>
                        <th>Unit Measure</th>
                        <th>Cost Oz/Ea</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-class="{'hidden': !pc.toggle}" ng-repeat="product in pc.ProductService.product.list | filter:query | filter: searchBox | orderBy: 'product'">
                        <td><input ng-model="product.product"></td>
                        <td><input ng-model="product.product_number"></td>
                        <td><input ng-model="product.vendor"></td>
                        <td><input ng-model="product.price"></td>
                        <td><input ng-model="product.unit"></td>
                        <td>
                            <select class="form-control" ng-model="product.unitMeasure">
                                <option value="pound" >Pound</option>
                                <option value="each" >Ea</option>
                                <option value="gallon" >Gallon</option>
                                <option value="quart" >Quart</option>
                                <option value="pint" >Pint</option>
                                <option value="cup" >Cup</option>                    <option value="ounce" >Ounce</option>
                                <option value="liter" >Liter</option>
                                <option value="ml" >ml</option>
                                <option value="gram" >Gram</option>
                           </select></td>
                        <td><input ng-model="product.cost_oz"></td>
                        <td><button class="btn btn-xs btn-info" ng-click="pc.updateProduct(product)">Save</button></td>
                        <td><button class="btn btn-xs btn-danger" ng-if="pc.toggle" ng-click="pc.toggle = false">Cancel</button></td>
                    </tr>

                    <tr ng-class="{'hidden' : pc.toggle}" ng-repeat="product in pc.ProductService.product.list | filter:query | filter: searchBox | orderBy: 'product'">
                        <td><a href="#" editable-product="product.product">{{product.product}}</a></td>
                        <td>{{product.product_number}}</td>
                        <td>{{product.vendor}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.unit}}</td>
                        <td>{{product.unit_measure}}</td>
                        <td>{{product.cost_oz}}</td>
                        <td><button class="btn btn-xs btn-info" ng-if="!pc.toggle" ng-click="pc.toggle = true">Edit</button></td>
                        <td><button class="btn btn-xs btn-danger" ng-click="pc.deleteProduct(product.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>