<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h3>Add Products</h3>
    <div ng-controller="ProductController as pc">
        <form>
            <input type="text" placeholder="Product" name="product" ng-model="pc.newProduct.product">
            <input type="text" placeholder="Product Number" name="productNumber" ng-model="pc.newProduct.productNumber"><br>
            <input type="number" placeholder="Price" name="price" ng-model="pc.newProduct.price">
            <input type="text" placeholder="Vendor" name="vendor" ng-model="pc.newProduct.vendor"><br>
            <input type="text" placeholder="Case Size" name="caseSize" ng-model="pc.newProduct.caseSize"><br>
            <div class="dropdown col-md-3 col-sm-3">
                <div class="form-group">
                    <label for="caseMeasurement">Case measurement</label>
                    <select name="caseMeasurement" id="caseMeasurement" class="form-control">
                     <option id="pound" ng-model="pc.newProduct.unitMeasure">Pound</option>
                     <option id="each" ng-model="pc.newProduct.unitMeasure">Ea</option>
                     <option id="gallon" ng-model="pc.newProduct.unitMeasure">Gallon</option>
                     <option id="quart" ng-model="pc.newProduct.unitMeasure">Quart</option>
                     <option id="pint" ng-model="pc.newProduct.unitMeasure">Pint</option>
                     <option id="ounce" ng-model="pc.newProduct.unitMeasure">Ounce</option>
                </select>
                </div>
            </div>
            <button class="btn button-default" ng-click="pc.addProduct()">Submit</button>
        </form>
    </div>
</div>