<div class="container">
    <h3>Add Recipes</h3>
    <div ng-controller="RecipeController as rc">
        <form>
            <div class="form-group row">
                <label for="recipe">Recipe Name</label>
                <input class="form-control col-md-3" type="text" placeholder="Recipe Name" id="recipe" ng-model="rc.newRecipe.name">
            </div>
            <div class="dropdown">
                <div class="form-group row">
                    <label for="recipeType">Recipe Type</label>
                    <select name="recipeType" id="recipeType" class="form-control col-md-3" ng-model="rc.newRecipe.type">
                         <option id="pound" ng-model="rc.newRecipe.type">Appetizer</option>
                         <option id="each" ng-model="rc.newRecipe.type">Entree</option>
                         <option id="gallon" ng-model="rc.newRecipe.type">Snack</option>
                         <option id="quart" ng-model="rc.newRecipe.type">Dessert</option>
                         <option id="pint" ng-model="rc.newRecipe.type">Cocktail</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="yield">Yield</label>
                <input class="form-control col-md-3" type="number" placeholder="Recipe Yield" id="yield" ng-model="rc.newRecipe.yield">
            </div>
            <div class="form-group row">
                <label for="yieldType">Yield Measure</label>
                <select name="yieldType" id="yieldType" class="form-control col-md-3" ng-model="rc.newRecipe.yield_amount">
                         <option id="gallon" ng-model="rc.newRecipe.yield_amount">Gallon</option>
                         <option id="quart" ng-model="rc.newRecipe.yield_amount">Quart</option>
                         <option id="pint" ng-model="rc.newRecipe.yield_amount">Pint</option>
                         <option id="cup" ng-model="rc.newRecipe.yield_amount">Cup</option>
                         <option id="tablespoon" ng-model="rc.newRecipe.yield_amount">Tbsp</option>
                         <option id="teaspoon" ng-model="rc.newRecipe.yield_amount">tsp</option>
                         <option id="ounce" ng-model="rc.newRecipe.yield_amount">Ounce</option>
                         <option id="each" ng-model="rc.newRecipe.yield_amount">Each</option>
                 </select>
            </div>
            <!-- sends everything to controller -->
            <a href="#/recipe"><button class="btn button-default" ng-click="rc.addRecipe()">Submit</button></a>

        </form>
    </div>
</div>