<!-- recipes display on dom -->
<div class="container">
    <table class="table table-striped col-md-6 col-xs-12" ng-controller="RecipeController as rc">
        <thead>
            <tr>
                <th>
                    <input type="text" ng-model="searchBox" placeholder="Search Recipes">
                </th>
            </tr>
            <tr>
                <th>Recipe Name</th>
                <th>Type</th>
                <th>Yield</th>
                <th>Yield Amount</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-class="{'hidden': !rc.toggle}" ng-repeat="recipe in rc.RecipeService.recipe.list | filter:query | filter: searchBox | orderBy: 'name'">
                <td><input ng-model="recipe.name"></td>
                <td>
                    <select name="yieldType" id="yieldType" class="form-control" ng-model="rc.recipe.type">
                            <option value="gallon">Gallon</option>
                            <option value="quart">Quart</option>
                            <option value="pint">Pint</option>
                            <option value="cup">Cup</option>
                            <option value="tablespoon">Tbsp</option>
                            <option value="teaspoon">tsp</option>
                            <option value="ounce">Ounce</option>
                            <option value="each">Each</option>
                        </select>
                </td>
                <td><input ng-model="recipe.yield"></td>
                <td><input ng-model="recipe.yield_amount"></td>
                <td><button class="btn btn-xs btn-info" ng-click="rc.updateRecipe(recipe)">Save</button></td>
                <td><button class="btn btn-xs btn-danger" ng-if="rc.toggle" ng-click="rc.toggle = false">Cancel</button></td>
            </tr>

            <tr ng-class="{'hidden': rc.toggle}" ng-repeat="recipe in rc.RecipeService.recipe.list | filter:query | filter: searchBox | orderBy: 'name'">
                <td>
                    <a href="/#/recipeDisplay/{{recipe.id}}">{{recipe.name}}</a>
                </td>
                <td>{{recipe.type}}</td>
                <td>{{recipe.yield}}</td>
                <td>{{recipe.yield_amount}}</td>
                <td><button class="btn btn-xs" ng-if="!rc.toggle" ng-click="rc.toggle = true">Edit</button></td>
                <td><button class="btn btn-xs btn-danger" ng-click="rc.deleteRecipe(recipe.id)">Delete</button></td>
            </tr>

        </tbody>
</div>
</div>