<!-- recipes display on dom -->
<div class="container">
    <table class="table table-striped col-md-6 col-xs-12" ng-controller="RecipeController as rc">
        <thead>
            <tr>
                <th>
                    <input type="text" ng-model="searchBox" placeholder="Search Recipes">
                </th>
            </tr>
            <tr>
                <th>Recipe Name</th>
                <th>Type</th>
                <th>Yield</th>
                <th>Yield Amount</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-class="{'hidden': !rc.toggle}" ng-repeat="recipe in rc.RecipeService.recipe.list | filter:query | filter: searchBox | orderBy: 'name'">
                <td><input ng-model="recipe.name"></td>
                <td>
                    <select name="recipeType" id="recipeType" class="form-control col-md-3" ng-model="rc.newRecipe.type">
                                <option id="beef" ng-model="rc.newRecipe.type">Beef</option>
                                <option id="chicken" ng-model="rc.newRecipe.type">Chicken</option>
                                <option id="pork" ng-model="rc.newRecipe.type">Pork</option>
                                <option id="seafood" ng-model="rc.newRecipe.type">Seafood</option>
                                <option id="sauce" ng-model="rc.newRecipe.type">Sauce</option>
                                <option id="sweet" ng-model="rc.newRecipe.type">Sweet</option>
                                <option id="vegetarian" ng-model="rc.newRecipe.type">Vegetarian</option>
                                <option id="misc" ng-model="rc.newRecipe.type">Misc</option>
                    </select>
                </td>
                <td><input ng-model="recipe.yield"></td>
                <td> <select name="yieldType" id="yieldType" class="form-control col-md-3" ng-model="rc.newRecipe.yield_amount">
                        <option id="gallon" ng-model="rc.newRecipe.yield_amount">Gallon</option>
                        <option id="quart" ng-model="rc.newRecipe.yield_amount">Quart</option>
                        <option id="pint" ng-model="rc.newRecipe.yield_amount">Pint</option>
                        <option id="cup" ng-model="rc.newRecipe.yield_amount">Cup</option>
                        <option id="tablespoon" ng-model="rc.newRecipe.yield_amount">Tbsp</option>
                        <option id="teaspoon" ng-model="rc.newRecipe.yield_amount">tsp</option>
                        <option id="ounce" ng-model="rc.newRecipe.yield_amount">Ounce</option>
                        <option id="each" ng-model="rc.newRecipe.yield_amount">Each</option>
                </select></td>
                <td><button class="btn btn-xs btn-info" ng-click="rc.updateRecipe(recipe)">Save</button></td>
                <td><button class="btn btn-xs btn-danger" ng-if="rc.toggle" ng-click="rc.toggle = false">Cancel</button></td>
            </tr>

            <tr ng-class="{'hidden': rc.toggle}" ng-repeat="recipe in rc.RecipeService.recipe.list | filter:query | filter: searchBox | orderBy: 'name'">
                <td>
                    <a href="/#/recipeDisplay/{{recipe.id}}">{{recipe.name}}</a>
                </td>
                <td>{{recipe.type}}</td>
                <td>{{recipe.yield}}</td>
                <td>{{recipe.yield_amount}}</td>
                <td><button class="btn btn-xs" ng-if="!rc.toggle" ng-click="rc.toggle = true">Edit</button></td>
                <td><button class="btn btn-xs btn-danger" ng-click="rc.deleteRecipe(recipe.id)">Delete</button></td>
            </tr>

        </tbody>
</div>
</div>