<div class="container">
    <div ng-controller="RecipeController as rc">
        <h3>{{rc.currentRecipe.details.name}}</h3>
        <p>Type: {{rc.currentRecipe.details.type}}</p>
        <p>Yield: {{rc.currentRecipe.details.yield}} {{rc.currentRecipe.details.yield_amount}}</p>
    </div>
    <!-- <div ng-repeat="product in pc.ProductService.product.list"> -->
    <!-- {{pc}} -->
    <!-- <label>{{product.product}}</label> -->
    <select ng-model="currentProduct" ng-options="product.product for product in pc.ProductService.product.list">

        </select>
    <!-- </div> -->
</div>