<div class="container">
    <div class="row">
        <div class="col-md-6 centered">
            <h1>Technologies Used</h1>
            <p>SEAN STACK</p>
            <p>Postgresql</p>
            <p>Express</p>
            <p>AngularJS</p>
            <p>Node</p>
            <p>Bootstrap</p>
        </div>
        <div class="col-md-6 centered">
            <h3>Special Thanks</h3>
            <p>Sir Luke Schlangen</p>
            <p>Duke Kris Szafranski</p>
            <p>THE GOOSE aka Betelgeuse</p>
            <p>Anelace Coffee, Spyhouse Coffee, Sudafed 12 Hour Sinus</p>
        </div>
    </div>
</div>